{% extends 'base_bs3.html' %}

{% block body %} 
<div class="col-md-12 profileForm">
    <div class="container">
        <h3>Edit your Preferences</h3>
        <form action="" method="post">
            {% with form as form %}
                {% include "include_form.html" %}
            {% endwith %}
            <div class="form-actions formButtons">
                <button type="submit" class="btn btn-lg btn-package-opposite">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
