{% extends 'base.html' %}

{% block body %}
<div class="row-fluid">
{% for box in boxes %}
<table border="1">
	<tr><td>Price</td><td>Products</td><td></td></tr>
<tr>
  <td>${{ box.price }}</td>
  <td>
  {% for p in box.products.all %}
  	<a href={{ p.url }} target="_blank"><img src={{ p.image_url }} height="200" width="150"></a>
  {% endfor %}
  </td>
</tr>
{% empty %}
{% if user.profile.paid %}
{{ user.profile }}, thanks for ordering. You're personalized package will be delivered Monday the 27th of January. In the meantime, enjoy this gif.
<div class="row text-center"><img src='http://media.giphy.com/media/76dXlFZZEqNH2/giphy.gif'></div>
{% else %}
Thanks for making an account. Our records indicate that you haven't paid yet. Ensure that you've paid Matteo mhoch2@illinois.edu
{% endif %}
{% endfor %}
</table>
</div>
{% endblock %}
