--allow-unverified
Django==1.6.1
http://effbot.org/media/downloads/Imaging-1.1.7.tar.gz
Pillow==2.3.0
South==0.8.4
argparse==1.2.1
distribute==0.6.32
django-simple-captcha==0.4.1
docopt==0.4.0
mandrill==1.0.53
requests==2.2.1
six==1.5.2
wsgiref==0.1.2
