{% extends 'admin/base.html' %}

{% block body %}
<table border="1">
	<tr><td>Name</td><td>Email</td><td>Address</td><td>Box to Ship</td><td>Price</td><td>Current Box</td><td>Paid</td><td>Actions</td><td>Delete</td></tr>
{% for u in users %}
	<tr><td>{{ u.profile.first_name }} {{ u.profile.last_name }}</td><td>{{ u.username }}</td><td>{{ u.profile.addr1 }}<br>{% if "" == u.profile.addr2 %}{{ u.profile.addr2 }}<br>{% endif %}{{ u.profile.city }}, {{ u.profile.state }}</td><td>{% for i in u.profile.box_to_ship.getPreview %}<a href={{ i.1 }}><img src={{ i.0 }} height="200" width="150"></a>{% empty %}<a href="{% url 'assignBox' u.profile.id %}">Assign</a>{% endfor %}</td><td>${{ u.profile.box_to_ship.price }}</td><td>{% for i in u.profile.current_box.getPreview %}<a href={{ i.1 }}><img src={{ i.0 }} height="200" width="150"></a>{% endfor %}</td><td>{% if u.profile.paid %}Paid{% else %}Not Paid{% endif %}</td>
	<td>
	<select onchange="getval(this);">
	  <option><center>----------</center></option>
	  <option value="paid.{{ u.profile.id }}">Mark as Paid</option>
	  <option value="shipped.{{ u.profile.id }}">Mark as Shipped</option>
	  <option value="customBox.{{ u.profile.id }}">Assign Custom Box</option>
	  <option value="delete.{{ u.profile.id }}">Delete User</option>
	</select>
	</td>
	
	<td><a href={% url 'deleteUser' u.id %}>Delete</a></tr>
{% endfor %}
</table>
<a href={% url 'addUser' %}>Add</a>
<script type="text/javascript">
    function getval(sel) {
	$.ajax({
	  type: "POST",
	  url: '/boxman/users/',
	  data: {'data': sel.value, 'csrfmiddlewaretoken': '{{csrf_token}}'},
	  dataType: "json",
	  success: sel.value,
	});
    }
</script>
{% endblock %}
