{% extends 'admin/base.html' %}

{% block body %}
<table border="1">
	<tr><td>Shirt Size</td><td>Underwear Type</td><td>Underwear Size</td><td>Hobby1</td><td>Hobby2</td><td>Hobby3</td><td>Alcohol</td><td>adj1</td><td>adj2</td><td>adj3</td><td>Fraternity</td><td>Party</td><td>Novelty</td><td>Clip-On</td></tr>
	<tr><td>{{ prefs.shirt_size }}</td><td>{{ prefs.underwear_type }}</td><td>{{ prefs.underwear_size }}</td><td>{{ prefs.hobby1 }}</td><td>{{ prefs.hobby2 }}</td><td>{{ prefs.hobby3 }}</td><td>{{ prefs.alcohol }}</td><td>{{ prefs.adj1 }}</td><td>{{ prefs.adj2 }}</td><td>{{ prefs.adj3 }}</td><td>{{ prefs.fraternity }}</td><td>{{ prefs.party }}</td><td>{{ prefs.novelty }}</td><td>{{ prefs.clip_on }}</td></tr>
</table>
{% endblock %}
