{% extends 'admin/base.html' %}

{% block body %}
<table>
<tr>
  <td><a href='/boxman/boxes'><img src="http://jaypeepaper.com/images/cartoon_boxes.jpg" height="231" width="256"></a></td>
  <td><a href='/boxman/products'><img src="http://www.carepackageproject.com/images/cp-25-shadow-sm.gif" height="231" width="256"></a></td>
  <td><a href='/boxman/users'><img src="http://runningforbeerdotorg.files.wordpress.com/2013/09/children-cartoon.gif" height="231" width="389"></a></td>
</tr>
<tr>
  <td></td>
  <td><a href='/boxman/surveys'><img src="http://beyond-help.net/images/survey.jpg" height="256" width="256"></a></td>
</tr>
</table>
<br>
{% endblock %}
