{% extends "base_bs3.html" %}

{% block body %}
    <div class="col-md-12">
        <div class="container">
            <h2>Our Story</h2>
		<p>The Nice Package started January 2014 in Champaign, IL when Matteo was looking for an easy way to find cool, new things. Other subscription box services were too focused on satisfying a single niche like cosmetics or the starting price was way too expensive. Care packages already exist but they can be so much more than your mom sending you candy. We knew college guys would appreciate a service made for college guys, by college guys so we started The Nice Package.
		</p>
		<p>
		We really appreciate our customers input and we do our best to discover products from places like <a href="http://sharktanksuccess.blogspot.com/">Shark Tank</a>, <a href="http://uncrate.com/wanted/">Uncrate</a>, <a href="http://www.dudeiwantthat.com/">DudeIWantThat.com</a>, and <a href="http://gentsamongmen.com/">GentsAmongMen.com</a>. If you'd like to suggest a product please use <a href={% url 'box.views.contact' %}>this form</a> to send us a message. 
		</p>
            <h2>Our Team</h2>
		<p>
		Matteo Hoch -- CEO -- Champaign, IL 
		</p><p>
		Christopher Clouten -- Tech -- Brooklyn, NY
		</p><p>
		Maximilian Melamed -- Design -- New York, NY
		</p><p>
		Sylvia Din -- Design -- Champaign, IL
		</p><p>
		Vrishin Subramaniam -- Sales -- Champaign, IL
		</p>
		<p><br>Obligatory startup pictures and bios coming soon</p>

        </div>
    </div>
{% endblock %}
