{% extends "base_bs3.html" %}

{% block body %}
    <div class="col-md-12">
        <div class="container">
            <h2>Our Story</h2>
	<p class="picture-sub-text">The Nice Package arose naturally because of this hard problem we kept having. It involved our moms and it was lasting for more than 4 hours so we decided to do something about it. Our moms would send us care packages once a month and they were just filled with candy. We wanted different things but we couldn't tell them that lest they figure out what we're "up" to.</p>
	<p class="picture-sub-text">Being in college you have to spend money on things. And you're trying figure out what things are the best or what things you really need. Things like razors, food, swag, and booze/mixer... not to mention the things you always seem to "forget" like condoms. Even still when you go out and buy these things, you're shopping at overpriced campus stores with limited selection. This makes it very hard to find out if there really is something better than that Gillete razor you keep buying. And trust us, The Nice Package works best when it's hard.</p>
        <p class="picture-sub-text">The Nice Package connects you with cool products personalized to your interests. All for a cheap price. Each box is $20 and contains over $40 dollars worth of personalized items.</p>
	<p class="picture-sub-text">We'll send you <a href="http://www.bombassocks.com" target="_blank">Dope Socks</a>, connect you with people like <a href="http://www.thecocksmanclub.com" target="_blank">The Cocksman Club</a>, find your new favorite <a href="http://www.harrys.com" target="_blank">razor</a>, stop you from having a <a href="http://ficksdrink.com/#/home" target="_blank">hangover</a>, give you essential <a href="http://www.teroforma.com/shop/the-perfect-gift/gifts-for-design-lovers/whisky-stones-whisky-lover-set.html" target="_blank">Manly Things</a>, as well as the occasional <a href="http://www.dudeproducts.com/" target="_blank">Butt Wipe</a>. Whatever floats your boat, whatever knocks your socks, or whatever rocks her box, we'll send it to you.</p>
	<p class="picture-sub-text">Every guy wants to have a Nice Package. Now you finally can.</p> 
		</p>
            <h2>Our Team</h2>
		<p class="picture-sub-text">
		Matteo Hoch -- CEO -- Champaign, IL 
		</p><p class="picture-sub-text">
		Christopher Clouten -- Tech -- Brooklyn, NY
		</p><p class="picture-sub-text">
		Maximilian Melamed -- Design -- New York, NY
		</p><p class="picture-sub-text">
		Sylvia Ding -- Design -- Champaign, IL
		</p><p class="picture-sub-text">
		Vrishin Subramaniam -- Sales -- Champaign, IL
		</p>
		<p class="picture-sub-text"><br>Obligatory startup pictures and bios coming soon</p>

        </div>
    </div>
{% endblock %}
