<html> 
    <head>
        <title>The Nice Package</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/ico" href="{{ STATIC_URL }}img/favicon.ico"/>
    <link href="{{ STATIC_URL }}css/box.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <!-- Custom fonts --> 
        <link href='http://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Buda:300' rel='stylesheet' type='text/css'>
    
    <style>
      ul {list-style: none;}
      li {display: inline-block;}
    </style>
    

  </head>

  <body>

    <!-- Wrap all page content here -->
    <div class = "container">
	<div class = "navbar">
            <nav class = "navbar navbar-inverse" id = "box-nav">
	    <ul>
                <!-- <li><a class = "active" href = "/">Home</a></li> -->
		
		
	        <!--<li class="active"><a href='/surveys/'>Preferences</a></li>
	        <!---->
		{% if user.is_authenticated %}
		{% if user.is_staff %}
		<li class="active"><a href='/boxman/boxes/'>Packages</a></li>
	        <li class="active"><a href='/boxman/products/'>Products</a></li>
	        <li class="active"><a href='/boxman/users/'>Users</a></li>
		{% else %}
		<li class="active"><a href='/home/'>Packages</a></li>
		<li class="active"><a href='/home/preferences/'>Preferences</a></li>
		<li class="active"><a href='/home/profiles/'>Account Info</a></li>
		{% endif %}
	        <li class="active"><a href='/logout'>Logout</a></li>
		{% else %}
		<li class="text-hide">                    </li>
		<li class="active"><a href='/login'>Login</a></li>
		{% endif %}
	    </ul>
            </nav>
	</div>
     </div>
		<div class= "container">
		{% block body %}{% endblock %}
		</div>
	</body>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
       <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
       <!-- Include all compiled plugins (below), or include individual files as needed -->
       <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	{% block scripts %}
	{% endblock %}
  </body>
</html>
