<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}The Nice Package{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <!-- <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="{{ STATIC_URL }}bootstrap3/css/bootstrap.css" rel="stylesheet">
    <!-- <link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'> -->

    <!-- Custom styles for this template -->
    <!-- <link href="{{ STATIC_URL }}css/auth.css" rel="stylesheet"> -->
    <link href="{{ STATIC_URL }}bootstrap3/fonts/dosis/stylesheet.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap3/ss-social-regular/webfonts/ss-social-regular.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap3/ss-symbolicons-block/webfonts/ss-symbolicons-block.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/sticky.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/box_bs3.css" rel="stylesheet">
    <!-- <link href="{{ STATIC_URL }}css/box.css" rel="stylesheet"> -->
    <!-- <link href="{{ STATIC_URL }}ss-social-regular/webfonts/ss-social-regular.css" rel="stylesheet"> -->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">
      <!-- Begin page content -->
      <div class="wrapper">
        <div class="col-md-12 indexHeader">
            <div class="container">
                <div class="col-md-7">
                    <h1 class="mainTitle">the nice package</h1>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'index' %}"><img src="{{ STATIC_URL }}bootstrap3/images/Nice-Package-Logo.png" class="img-responsive titleImage" alt="Responsive image"></a>
                </div>
                <div class="col-md-1">
                  {% if user.is_authenticated %}
                    <ul class="navList pull-right">
                      <li class="dropdown settings">
                          <a href="#" class="settings-edit dropdown-toggle" data-toggle="dropdown">
                              <span class="ss-settings ss-symbolicons-block"></span>
                          </a>
                          <ul class="dropdown-menu">
                          {% if user.is_staff %}
                              <li><a href='/boxman/boxes/'>Packages</a></li>
                              <li><a href='/boxman/products/'>Products</a></li>
                              <li><a href='/boxman/users/'>Users</a></li>
                          {% else %}
                              <li><a href='/home/'>Dashboard</a></li>
                              <li><a href='/home/preferences/'>Preferences</a></li>
                              <li><a href='/home/profiles/'>Account Info</a></li>
                          {% endif %}
                              <li><a href='/logout'>Logout</a></li>
                          </ul>
                      </li>
                    </ul>
                  {% endif %}
                </div>
            </div>
        </div>
	
        {% block body %}{% endblock %}
      </div>
    </div>

    <div id="footer">
      <div class="">
        {% block footer %}
          <div class="col-md-12 indexFooter">
              <div class="container">
                  <div class="col-md-2">
                      <a href="{% url 'index' %}"><img src="{{ STATIC_URL }}bootstrap3/images/Nice-Package-Logo-White.png" class="img-responsive footerImage" alt="Responsive image"></a>
                  </div>
                  <div class="col-md-10">
                      <ul class="footerNav">
                          <li><a href="{% url 'about' %}">About Us</a></li>
                          <li><a href="{% url 'careers' %}">Careers</a></li>
                          <li><a href="{% url 'privacy' %}">Legal</a></li>
                          <li><a href="{% url 'contact' %}">Contact</a></li>
                          <li><a href="https://www.facebook.com/thenicepackage"><span class="ss-facebook ss-social-regular social-icon facebook"></span></a></li>
                          <li><a href="https://twitter.com/TheNicePackage"><span class="ss-twitter ss-social-regular social-icon twitter"></span></a></li>
                      </ul>
                  </div>
              </div>
          </div>
        {% endblock %}
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49747120-1', 'thenicepackage.com');
      ga('send', 'pageview');

    </script>
  </body>
</html>
