{% extends "base.html" %}

{% block body %}
            <div class = "hero-unit">
                <h1> Welcome to <span id = "name">TheNicePackage!</span><br><span id = 'secondTop'>A care package for college guys, by college guys!</span> </h1>
                <!--<h2> Feel free to look around to learn more about our product and get more information.</h2>
            <a class = "btn btn-primary btn-lg" role = "button" id = "hero-button"> Learn more about us! </a>-->
            </div>
            
            <div class = "row">
                <div class = "span12">
                    <h2> What we do at <span id = "name">TheNicePackage</span></h2>
                </div>
            </div>
            <div class = "row">
                <div class = "span4">
                    <h3> Who's it for? </h3>
                    <p> So you're a guy, right? I bet you hate shopping? Always buying the same stuff but never feeling entirely satisfied. Shopping can be a mundane chore, especially when you've got other priorities. That's where we come in.</p>
                </div>
                
                <div class = "span4">
                    <h3> How does it work?</h3>
                    <p>We work with brands to help find you cool and exciting new products. Each month we will send you a personalized box full of things we think you would love. Everything from party swag, snacks, and other goodies, we'll be sure to keep you satisfied.</p>
                </div>
                
                <div class = "span4">
                    <h3> How do I go from here?</h3>
                    <p> Well, it's easy! Just go to our <a href = "/login"> Login</a> page, create an account, tell us what you like, and we'll get started right off the bat.</p>
                </div>
            </div>
            
            <hr> 
        
            <div class = "row">
                <div class = "span12"><h2> Got any questions? Contact us!</h2> </div>
            </div>
                <div class = "row">
                    <div class = "span6" id = "contactInfo"><p>We recognize that our customers are the most important part of our business. If you have any feedback, suggestions, or problems feel free to get in touch with Matteo, <a>matteo@thenicepackage.com</a></p>
                    </div>
                    <center><div class = "span6" ><img width="300" height="00" alt="logo" src="{{ STATIC_URL }}img/NicePackageLogo.png"><!--<img src="http://4.bp.blogspot.com/-Goe5ZAO9400/UZhTCJklYLI/AAAAAAAAAp4/sjHoB56WTjc/s1600/mystery_box%2B2.jpg">--></div> </center>
            
            </div>
            
            </div>
            
        </div>
    
{% endblock %}
