{% extends "base_bs3.html" %}

{% block body %}
    
    <div class="col-md-12 indexBanner">
        <div class="container">
            <h1 class="bannerHeader">WELCOME to THE NICE PACKAGE!</h1>
            <h2 class="bannerSub">Your new favorite thing, you just don't know yet!</h2>
            <a href='/login'><button type="button" class="btn btn-lg btn-package btn-login">LOGIN</button></a>
            <a href='/boxman/users/register/'><button type="button" class="btn btn-lg btn-package btn-signup">SIGN UP</button></a>
        </div>
    </div>
    <div class="col-md-12 whoFor">
        <div class="container">
            <div class="col-md-2 howDesc">
                <p class="whoIs">WHO IS</p>
                <p class="thisFor">THIS FOR?</p>
            </div>
            <div class="col-md-3 paddingLeftZero">
                <img src="{{ STATIC_URL }}bootstrap3/images/College-Guy-Icon.png" class="img-responsive" alt="Responsive image">
                <p>College Dudes</p>
            </div>
            <div class="col-md-3">
                <img src="{{ STATIC_URL }}bootstrap3/images/Classy-Man-Icon.png" class="img-responsive" alt="Responsive image">
                <p>Aspiring Men</p>
            </div>
            <div class="col-md-3 marginLeft15">
                <img src="{{ STATIC_URL }}bootstrap3/images/Excited-Man-Icon.png" class="img-responsive" alt="Responsive image">
                <p>Any guy who wants to</p>
                <p>discover new things</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 howWorks">
        <div class="container">
            <div class="col-md-2 howDesc">
                <p class="howDoes">HOW DOES</p>
                <p class="itWork">IT WORK?</p>
            </div>
            <div class="col-md-3 paddingLeftZero">
                <img src="{{ STATIC_URL }}bootstrap3/images/Items-Icon.png" class="img-responsive" alt="Responsive image">
                <p>A package is delivered to your</p>
                <p>door once a month</p>
            </div>
            <div class="col-md-3">
                <img src="{{ STATIC_URL }}bootstrap3/images/Package-Icon.png" class="img-responsive" alt="Responsive image">
                <p>An assortment of personalized</p>
                <p>items and samples</p>
            </div>
            <div class="col-md-3 marginLeft15">
                <img src="{{ STATIC_URL }}bootstrap3/images/Rating-Icon.png" class="img-responsive" alt="Responsive image">
                <p>Based on your preferences</p>
                <p>and feedback</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 howStart">
        <div class="container">
            <div class="col-md-2 howDesc">
                <p class="howDoI">HOW DO I</p>
                <p class="start">START?</p>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-9">
                <a href='/boxman/users/register/'><img src="{{ STATIC_URL }}bootstrap3/images/Enroll-Icon.png" class="img-responsive" alt="Responsive image"></a>
                <p class="enrollCopy">$30 for your first two months!</p>
            </div>
        </div>
    </div>
{% endblock %}
