{% extends 'admin/base.html' %}

{% block body %}
<table border="1">
	<tr><td>Price</td><td>Products</td><td>Like</td><td>Ok</td><td>Dislike</td><td>Felt Small</td></tr>
{% for box in boxes %}
<tr>
  <td>${{ box.price }}</td>
  <td>
  {{ box }}
  </td>
  {% with metrics=box.getMetrics %}
  <td>{{ metrics.0 }}</td><td>{{ metrics.1 }}</td><td>{{ metrics.2 }}</td><td>{{ metrics.3 }}</td>
  {% endwith %}
  <td><a href={% url 'deleteBox' box.id %}>Delete</a></td>
</tr>
{% endfor %}
</table>
<a href={% url 'addBox' %}>Add</a>
{% endblock %}
