{% extends "base.html" %}

{% block body %}
<div id="login" class="login">
  <form class="form-horizontal" name="LoginForm" action="{% url 'django.contrib.auth.views.login' %}" method="post">
    {% csrf_token %}
    <div class="control-group">
      <label class="control-label" for="username">Email</label>
      <div class="controls">
	<input type="text" id="username" name="username"  class="text-input" placeholder="Email">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">Password</label>
      <div class="controls">
	<input type="password" name="password" id="password" placeholder="Password">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
	<button type="submit" class="btn">Login</button>
	<a class="btn" href="{% url 'users.views.register' %}">Create Account</a>
      </div>
    </div>
  </form>
</div>
{% endblock %}
